<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="$(var.ProductName)"
    Manufacturer="$(var.Manufacturer)"
    Version="$(var.PackageVersion)"
    UpgradeCode="1DBF769E-E4C6-4AE7-A3A7-4C5675465FCA"
    InstallerVersion="500"
    Scope="perUser"
    Compressed="yes">
    <SummaryInformation
      Description="$(var.ProductName) Windows installer"
      Manufacturer="$(var.Manufacturer)" />
    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="ProductIcon" SourceFile="$(var.ProductIconFile)" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="SPXROOTDIR" Name="SPX">
        <Directory Id="INSTALLFOLDER" Name="app" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="SPX Tools" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="PayloadComponents" />
      <ComponentRef Id="cmpProgramMenuFolder" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="cmpProgramMenuFolder" Guid="BDA149B8-5FB1-4A8C-8F09-87BE255A709A">
        <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\HammerHeads Engineers\SPX"
          Name="Installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
