<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle
    Name="$(var.BundleName)"
    Manufacturer="$(var.Manufacturer)"
    Version="$(var.BundleVersion)"
    UpgradeCode="229427D2-B3F9-4DFD-9DEF-9BF45CBE80B8"
    Compressed="yes">
    <util:RegistrySearch
      Id="Python312InstallPathPerUserSearch"
      Root="HKCU"
      Key="SOFTWARE\Python\PythonCore\3.12\InstallPath"
      Variable="Python312InstallPathPerUser"
      Result="value"
      Bitness="always64" />
    <util:RegistrySearch
      Id="Python312InstallPathPerMachineSearch"
      Root="HKLM"
      Key="SOFTWARE\Python\PythonCore\3.12\InstallPath"
      Variable="Python312InstallPathPerMachine"
      Result="value"
      Bitness="always64" />

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="rtfLicense"
        LicenseFile="$(var.LicenseFile)"
        ShowVersion="yes" />
    </BootstrapperApplication>

    <Chain>
      <ExePackage
        Id="Python312Prerequisite"
        DisplayName="$(var.PythonPackageDisplayName)"
        SourceFile="$(var.PythonInstallerPath)"
        InstallArguments="/quiet InstallAllUsers=1 PrependPath=1 Include_launcher=1 InstallLauncherAllUsers=1 Include_test=0"
        DetectCondition="Python312InstallPathPerMachine OR Python312InstallPathPerUser"
        Compressed="yes"
        Cache="keep"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes" />
      <MsiPackage
        Id="SpxMsi"
        SourceFile="$(var.MsiPath)"
        Visible="no"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
