<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="$(var.BundleName)"
    Manufacturer="$(var.Manufacturer)"
    Version="$(var.BundleVersion)"
    UpgradeCode="229427D2-B3F9-4DFD-9DEF-9BF45CBE80B8"
    Compressed="yes">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="rtfLicense"
        LicenseFile="$(var.LicenseFile)"
        ShowVersion="yes" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="SpxMsi"
        SourceFile="$(var.MsiPath)"
        Visible="no"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
